@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Mono", "Courier New", Courier, monospace; }

body {
  background: #c5e4e7; }

.container {
  position: relative;
  -height: 100vh; }

.main-layout {
  background-color: white;
  width: 60%;
  border-radius: 20px;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.24);
  position: absolute;
  top: 1rem;
  right: 50%;
  transform: translate(50%, 50%);
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: center; }

.text {
  font-size: 0.76rem;
  text-transform: capitalize;
  font-weight: 700;
  opacity: 0.7;
  margin-bottom: 5px; }

.header {
  position: absolute;
  top: 5rem;
  right: 50%;
  transform: translateX(50%); }

.btn:link,
.btn:visited {
  width: 100%;
  text-align: center;
  display: inline-block;
  color: #00494d;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 6px;
  background-color: #26c0ab;
  font-weight: 700; }

.reset {
  opacity: 0.5; }

.input-full-width {
  outline: none;
  border: none;
  text-align: end;
  padding: 0.5rem;
  background-color: #edf6f7;
  width: 100%;
  border-radius: 5px; }
  .input-full-width:focus {
    outline: 1px solid #26c0ab; }

.bill, .num {
  background-repeat: no-repeat;
  background-size: 10px;
  background-position-y: center;
  background-position-x: 5px;
  font-weight: 700;
  color: #00494d; }

.bill {
  background-image: url("../images/icon-dollar.svg"); }

.num {
  background-image: url("../images/icon-person.svg"); }

#active {
  background-color: #26c0ab;
  color: #00494d; }

.error {
  color: #bd2929;
  display: none; }

#input-error {
  outline-color: #bd2929; }

.input {
  flex-basis: 48%; }
  .input .input__bill, .input .tip-selection {
    margin-bottom: 1.5rem; }

.tip-selection .tip {
  text-align: center;
  background-color: #00494d;
  color: white;
  padding: 0.5rem;
  border-radius: 3px;
  font-weight: 700;
  cursor: pointer; }

.tip-selection .tip p {
  display: inline; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px; }
  .grid-container .tip-custom input {
    width: 100%;
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #edf6f7; }
    .grid-container .tip-custom input:focus {
      border: 1px solid #26c0ab; }

.calc-tip {
  flex-basis: 48%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem;
  background-color: #00494d;
  margin-left: 4%;
  border-radius: 10px;
  color: white; }
  .calc-tip .tip-amount {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .calc-tip .tip-amount .amount-text {
      font-size: 0.8rem; }
      .calc-tip .tip-amount .amount-text span {
        display: block;
        font-size: 0.7rem;
        opacity: 0.6; }
    .calc-tip .tip-amount .amount {
      font-size: 2rem;
      color: #26c0ab; }

.num-of-people div {
  display: flex;
  justify-content: space-between; }

@media (max-width: 1200px) {
  .header {
    top: 6rem; }
  .main-layout {
    width: 80vw;
    top: -4rem; }
    .main-layout .input, .main-layout .calc-tip {
      flex-basis: 100%; }
    .main-layout .calc-tip {
      margin-top: 4%;
      margin-left: 0; }
      .main-layout .calc-tip .reset {
        margin-top: 3rem; } }

@media (max-width: 700px) {
  .main-layout {
    width: 100vw;
    top: -6rem;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    .main-layout .input {
      flex-basis: 100%; }
    .main-layout .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr; } }
