.btn:link,
.btn:visited{
    width: 100%;
    text-align: center;
    display: inline-block;
    color: $Very-dark-cyan;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem;
    border-radius: 6px;
    background-color: $strong-cyan;
    font-weight: 700;
}

.reset{
    opacity: 0.5;
}