@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $primary-font-family;
}

body{
    background: $Light-grayish-cyan;
}

.container{
    position: relative;
    -height: 100vh;
}