.main-layout{
    background-color: $White;
    width: 60%;
    border-radius: 20px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.24);
    position: absolute;
    top: 1rem;
    right: 50%;
    transform: translate(50%, 50%);
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
}


.text{
    font-size: 0.76rem;
    text-transform: capitalize;
    font-weight: 700;
    opacity: 0.7;
    margin-bottom: 5px;
}