@media (max-width: 1200px) {
    .header{
        top: 6rem;
    }
    .main-layout{
        width: 80vw;
        top: -4rem;
        .input, .calc-tip{
            flex-basis: 100%;
        }
        .calc-tip {
            margin-top: 4%;
            margin-left: 0;
            .reset{
                margin-top: 3rem;
            }
        }
    }
    
}

@media (max-width: 700px) {
    .main-layout{
        width: 100vw;
        top: -6rem;
        border-radius: 30px;
        .input{
            flex-basis: 100%;
        }
        .grid-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    
}